.avatarContainer {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.avatar {
  width: 100%;
  margin-right: 10px;
  object-fit: contain;
}

.approved {
  color: green;
  background-color: #deffde;
  padding: 5px;
  border-radius: 3px;
}

.cancel {
  color: red;
  background-color: #ffdddd;
  padding: 5px;
  border-radius: 3px;
}

.pending {
  color: orange;
  background-color: #fff7e8;
  padding: 5px;
  border-radius: 3px;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  width: 130px;
}

.view {
  color: #2525b6;
  border: 1px solid #2525b6;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.view:hover {
  background-color: #2323a4;
  color: whitesmoke;
  transition: 0.8s;
}

.delete {
  color: #d32727;
  border: 1px solid #d32727;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.delete:hover {
  background-color: #c12525;
  color: whitesmoke;
  transition: 0.8s;
}
