.avatarContainer {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.avatar {
  width: 100%;
  margin-right: 10px;
  object-fit: contain;
}

.approved {
  color: green;
  background-color: #deffde;
  padding: 5px;
  border-radius: 3px;
}

.cancel {
  color: red;
  background-color: #ffdddd;
  padding: 5px;
  border-radius: 3px;
}

.pending {
  color: orange;
  background-color: #fff7e8;
  padding: 5px;
  border-radius: 3px;
}
